<h3><i class="fas fa-book-reader"></i> 테스트</h3>
<div class="section">
  <p class="lead">테스트 </p>
</div>
<div class="divider"></div>
<div class="section">

  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>
    Google로 로그인 하기
  </a>
</div>